$background-color: #e9e9e9;
$main-color: #444;

body {
  background-color: $background-color;
  color: $main-color;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0px;
  left:0px;
  right:0px;
  bottom:0px;
  height: 100%;
  width: 100%;
}

.header {
  flex: 0 0 120px;
  text-align: center;
}

.main {
  flex: 1 0 auto;
  text-align: center;
}

.footer {
  text-align: center;
  flex: 0 0 120px;
  background-color: darken($background-color, 10%);
}
